/*******************  FOOTER  *******************/

.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: $color2;
  font-family: $font;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__contenedor {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__contenedor a {
  color: $color5;
}
.footer__newsletter {
  width: 45%;
  transition: all 0.4s ease;
}
.footer__newsletter--title {
  font-size: 22px;
  font-weight: 600;
  color: $color4;
  margin-bottom: 16px;
}

.footer__newsletter input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: $color4;
  background: $color1;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid $color2;
}

.footer__newsletter input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: $color1;
  background: $color4;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid $color4;
  transition: all 0.3s ease-in-out;
}

.footer__newsletter input[type="submit"]:hover {
  background: none;
  color: $color4;
}

.sent {
  font-size: 15px;
  color: $color4;
  text-align: center;
  margin-top: 10px;
}

.show {
  color: $color4;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}

.footer__redes-sociales {
  width: 35%;
  transition: all 0.4s ease;
}

.footer__redes-sociales--title {
  font-size: 22px;
  font-weight: 600;
  color: $color4;
  margin-bottom: 16px;
}

.footer__redes-sociales--icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid $color4;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.footer__redes-sociales--icons a:hover {
  border-color: $color4;
  transform: scale(1.3);
}

.footer__copyright {
  width: 100%;
  text-align: center;
  color: $color5;
  margin-top: 30px;
  padding: 0 40px 5px 0;
}
.footer__copyright a {
  color: $color4;
}
.footer a {
  transition: all 0.3s ease;
}
.footer a:hover {
  color: $color4;
}

.footer__author {
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: $color8;
  margin-top: 10px;
  padding: 0 20px 5px 0;
}

.footer__author a {
  color: $color5;
  font-size: 10px;
}
