/******************* NAV  *******************/

.header {
  background-color: $color2;
  font-family: $font;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 10;
  width: 100%;
}

#nav1 li a {
  color: $color3;
  list-style-type: none;
  text-decoration: none;
  padding: 20px;
  transition: transform 0.5s ease;
}

#nav1 a:hover {
  color: $color4;
  transform: translateX(0.5em);
}

#nav1 ul li {
  display: inline-block;
}

.navbar__logo {
  width: 40px;
}

/****************** index: BANNER *******************/

h1 {
  color: $color4;
  font-family: $font;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 100px;
}

.subtitulo {
  font-family: $font2;
  color: $color5;
  font-family: $font2;
  font-size: 45px;
  padding-top: 100px;
  text-align: center;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  animation-name: subtitulo;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes subtitulo {
  0% {
    color: #fff;
  }

  50% {
    color: rgb(255, 242, 169);
  }

  100% {
    color: #fff;
  }
}

.jonas-brothers__principal {
  background-color: $color1;
  background-image: url(img/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.jonas-brothers__principal h1 {
  color: $color4;
  font-family: $font;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000000;
  letter-spacing: 5px;
  padding-top: 100px;
}


/*******************  index: SECCION THE-BROTHERS  *******************/

.the-brothers {
  padding: 50px 25px;
}

.the-brothers__title {
  @extend h1;
}

.the-brothers__title--name {
  font-family: $font;
  font-size: 27px;
}

.the-brothers__description {
  color: $color3;
  padding: 0 10px 0 10px;
}

.the-brothers__foto {
  transition: transform 0.5s ease;
  border-radius: 50%;
}

.the-brothers__foto:hover {
  transform: scale(1.2);
}


/*******************  index: PROPAGANDA DEL TOUR  *******************/

.tour__propaganda {
  background-image: url(img/confetti1.svg);
  background-repeat: repeat;
  padding: 100px 0 100px 0;
}

.buy-tickets {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.buy-tickets .btn {
  background-color: $color7;
  border: none;
  width: 30%;
  font-size: 20px;
  font-weight: bold;
  font-family: $font;
  letter-spacing: 3px;
  transition: transform 0.5s ease;
  padding: 20px;
}

.buy-tickets .btn:hover {
  border: none;
  transform: scale(1.2);
  background-color: $color4;
}

.buy-tickets__link {
  color: $color5;
}

.buy-tickets__link:hover {
  color: $color1;
  text-decoration: none;
}

/* USO DE MAPAS */

.tour__dates-texto-animado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 80px 0;
}

$headings: (
  h2: 40px,
  h3: 30px,
  h4: 20px,
);

@each $h, $size in $headings {
  .btn--#{$h} {
    font-size: $size;
    font-family: $font;
    color: $color4;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 5px $color1;
  }
}

/*USO DEL EACH */

.contenedor__imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  justify-content: space-around;
}

.nickjonas-imagen,
.joejonas-imagen,
.kevinjonas-imagen {
  height: 200px;
  width: 400px;
  padding: 10px;
  border-radius: 16px;
}

@each $jonas in nickjonas, joejonas, kevinjonas {
  .#{$jonas}-imagen {
    background-image: url("img/#{$jonas}.jpg");
    background-size: cover;
    background-position: center;
  }
}
