@media only screen and (min-width: 1500px) {
  .news__title {
    font-size: 26px;
  }

  .news__text {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1281px) {
  .carrusel {
    height: auto;
  }

  .news {
    margin: 0 auto 50px auto;
  }

  .disc__contenedor,
  .disc__contenedor2 {
    height: auto;
  }

  .album__info,
  .album__info2 {
    h3 {
      font-size: 45px;
    }

    p {
      font-size: 35px;
    }
  }

  .album__info--icons a {
    font-size: 38px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .carrusel {
    height: auto;
  }

  .contenedor__imagenes {
    justify-content: center;
    align-items: center;
  }

  .joejonas-imagen,
  .nickjonas-imagen,
  .kevinjonas-imagen {
    height: 20%px;
    width: 28%;
    padding: 10px;
    margin: 10px;
  }

  .video__individual {
    width: 45%;
    margin: 10px;
  }

  .video__individual--title {
    padding: 10px;
  }

  .disc__contenedor,
  .disc__contenedor2 {
    height: auto;
  }

  .album__info,
  .album__info2 {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .carrusel {
    width: 100%;
    height: auto;
  }

  .news {
    padding: 2rem;
    flex-direction: column;
  }

  .news__info {
    padding-right: 0;
  }

  .news__img {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .buy-tickets .btn {
    width: 60%;
  }

  .contenedor__imagenes {
    justify-content: center;
    align-items: center;
  }

  .joejonas-imagen,
  .nickjonas-imagen,
  .kevinjonas-imagen {
    height: 20%px;
    width: 28%;
    padding: 10px;
    margin: 10px;
  }

  .video__individual {
    width: 100%;
    margin: 20px;
  }

  .video__individual--title {
    padding: 20px;
  }

  .disc__contenedor,
  .disc__contenedor2 {
    height: auto;
  }

  .album__info,
  .album__info2 {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 560px) and (max-width: 768px) {
  .jonas-brothers__principal {
    height: 70vh;
  }

  .jonas-brothers__principal h1 {
    font-size: 30px;
    padding-top: 80px;
  }

  .subtitulo {
    font-size: 20px;
    padding-top: 10px;
  }

  .carrusel {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .news {
    padding: 2rem;
    flex-direction: column;
  }

  .news__info {
    padding-right: 0;
  }

  .news__img {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .buy-tickets .btn {
    width: 80%;
  }

  .contenedor__imagenes {
    display: none;
  }

  #table {
    width: 100%;
    font-size: 15px;
  }

  .gallery__contenedor {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__contenedor--individual:nth-child(8) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .video__individual {
    width: 100%;
    margin: 20px;
  }

  .video__individual2 {
    width: 100%;
    margin: 10px;
  }

  .video__individual--title {
    padding: 10px;
  }

  .disc__contenedor,
  .disc__contenedor2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10px;

    img {
      width: 100%;
    }
  }

  .album__info,
  .album__info2 {
    padding: 0 15px;
    width: 100%;
  }

  .footer {
    position: relative;
  }

  .footer__newsletter,
  .footer__redes-sociales {
    width: 100%;
    margin-top: 30px;
  }

  .paymentContenedor {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0px;
  }

  .order-info {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .credit-info {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .credit-info .owner,
        .credit-info .CVV,
        .credit-info #expiration-date,
        .credit-info #credit_cards {
            width: 100%;
        }
        .credit-info #credit_cards {
            text-align: left;
        }
        
}

@media only screen and (min-width: 280px) and (max-width: 560px) {
  .jonas-brothers__principal {
    height: 50vh;
  }

  .jonas-brothers__principal h1 {
    font-size: 30px;
    padding-top: 80px;
  }

  .subtitulo {
    font-size: 20px;
    padding-top: 10px;
  }

  .carrusel {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .news {
    padding: 2rem;
    flex-direction: column;
  }

  .news__img {
    display: none;
  }

  .news__info {
    margin-top: -100px;
    padding-right: 0;
  }

  .news__text {
    text-align: center;
  }

  .buy-tickets .btn {
    width: 100%;
  }

  .contenedor__imagenes {
    display: none;
  }

  .tour-dates__texto-animado--title {
    align-items: center;
  }

  $headings: (h2: 32px,
    h3: 22px,
    h4: 17px,
  );

  @each $h,
  $size in $headings {
    .btn--#{$h} {
      font-size: $size;
    }
  }

  #table {
    width: 100%;
    margin: 0;
    font-size: 10px;
  }

  .table .btn {
    font-weight: none;
    font-size: 10px;
  }

  .gallery__contenedor {
    grid-template-columns: 1fr;
  }

  .gallery__contenedor--individual:nth-child(n + 1) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .video__individual {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .video__individual2 {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .video__individual--title {
    padding: 10px;
  }

  .disc__contenedor,
  .disc__contenedor2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10px;

    img {
      width: 100%;
    }
  }

  .album__info,
  .album__info2 {
    padding: 0 15px;
    width: 100%;
  }

  .footer {
    position: relative;
  }

  .footer__newsletter,
  .footer__redes-sociales {
    width: 100%;
    margin-top: 30px;
  }


  .paymentContenedor {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0px;
  }

  .order-info {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .credit-info {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

}
