.store {
    font-family: $font;
}

.store__title {
    @extend .discography__title;
}

.store__contenedor {
    max-width: 1350px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-list {
    display: flex;
    max-width: 1350px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products {
    width: 70%;
    background-color: $color1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    margin: 10px;
}

.card-img-top {
    background-color: $colorAuxiliar9;
}

.card-body {
    background-color: $color4;
    color: $color1;
    text-align: center;
    font-size: 20px;
}

.card-text {
    font-size: 24px;
}

.card .btn-primary {
    background-color: $color7;
    border: none;
    width: 70%;
    text-transform: uppercase;
}

.card .btn-primary:hover {
    background-color: $color5;
    color: $color1;
}

.cart {
    height: 100%;
    width: 30%;
    position: relative;
    background-color: $color7;
}

.shopping-bag {
    padding: 2px 2px;
}

.shopping-bag a {
    text-decoration: none;
    color: $color5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.shopping-bag a img {
    width: 32px;
    height: 32px;
}

.shopping-bag .total-items-in-cart {
    margin-left: 10px;
    padding: 5px;
    background-color: $colorAuxiliar1;
    border-radius: 5px;
    color: $color1;
}

.textoCart {
    padding: 0 10px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.products img {
    width: 250px;
}


.cart-header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
}

/* cart items */
.cart-items {
    overflow-y: auto;
    overflow-x: hidden;
}

/* cart item */
.cart-item {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.cart-item div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* item info */
.cart-item .item-info {
    flex: 1;
    background-color: $colorAuxiliar2;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.cart-item .item-info:hover {
    background-color: $colorAuxiliar3;
    cursor: pointer;
}

.cart-item .item-info img {
    width: 80px;
    filter: drop-shadow(2px 2px 2px $colorAuxiliar4);
}

/* unit price */
.cart-item .unit-price {
    flex: 1;
    font-size: 1.2rem;
}

/* units */
.cart-item .units {
    flex: 1;
}

.cart-item .units .number {
    margin: 0 10px;

    font-size: 1.2rem;
}

.cart-item .units .btn {
    width: 20px;
    height: 20px;
    background-color: $colorAuxiliar1;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

/* cart footer */
.cart-footer {
    width: 100%;
    bottom: 0;
    left: 0;
}

.cart-footer div {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 0;

    font-size: 1.3rem;
}

.cart-footer .subtotal {
    background-color: $color5;
}

.cart-footer .checkout {
    background-color: $colorAuxiliar1;
    cursor: pointer;
}

.cart-footer .checkout a {
    text-decoration: none;
    color: $color1;
}

.cart-footer .checkout a:hover {
    text-decoration: none;
    color: $color7;
}


/* compra html */
/* FINALIZAR COMPRA */

.payment {
    height: auto;
    font-family: $font;
    background-image: url(img/confetti1.svg);
}

.payment__title {
    @extend .discography__title;
}


.window {
    max-width: 1350px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.h2card {
    padding: 0.5em;
    text-align: center;
    font-size: 25px !important;
    font-size: 1.2rem;
    border-bottom: 1px solid $color1;
}

.order-info {
    width: 30%;
    background-color: $color4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.order-info-content {
    table-layout: fixed;
    border: 3px solid $color5;
    width: 100%;
    padding: 10px;
}


.productosFinal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    font-size: 20px;
}


.productosFinal-desc2 {
    text-align: end;
}

.item-price {
    text-align: end;
}

.total {
    text-align: right;
    border-top: 1px solid $color1;
    margin-top: 25px;
    font-size: 20px;
    text-align: end;
    justify-content: end;
    align-items: flex-end;

}

.total p {
    font-size: 20px !important;
}



.credit-info {
    height: 100%;
    width: 50%;
    position: relative;
    background-color: $color1;
    color: $color5;
    padding: 15px;
    border: 2px solid $color5;
    border-radius: 25px;
}


    /* credit card form */
    
    .credit-info label {
        width: 100%;
        margin-bottom: 10px;
    }

    .credit-info {
        float: left;
        font-size: 18px;
        padding: 10px 25px;
        margin-top: 20px;
        position: relative;
    }
    
    .credit-info .form-group {
        float: left;
        margin-bottom: 15px;
    }
    
    .credit-info .form-control {
        line-height: 40px;
        height: auto;
        padding: 0 16px;
    }
    
    .credit-info .owner {
        width: 63%;
        margin-right: 10px;
    }
    
    .credit-info .CVV {
        width: 35%;
    }
    
    .credit-info #card-number-field {
        width: 100%;
    }
    
    .credit-info #expiration-date {
        width: 49%;
    }
    
    .credit-info #credit_cards {
        width: 50%;
        margin-top: 25px;
        text-align: right;
    }
    
    .credit-info #pay-now {
        width: 100%;
        margin-top: 25px;
    }
    
    .credit-info .btn {
        width: 100%;
        margin-top: 3px;
        font-size: 24px;
        border: none;
        background-color: $color7;
        color: $color5;
    }
    
    #btn__credit-card {
        width: 100%;
        margin-top: 3px;
        font-size: 15px;
        color: $color5;
        background-color: $colorAuxiliar5;
        border: none;
    }
    .credit-info select {
        padding: 10px;
        margin-right: 15px;
    }
    
    .transparent {
        opacity: 0.2;
    }
    
