/* body {
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
  } */

  /*******************  TICKETS *******************/

  .tickets {
    background-image: url(img/confetti1.svg);
    background-repeat: repeat;
    font-family: $font;
  }


  .compraDeTickets__title {
    @extend .discography;
  }
  
  .compraDeTickets__title {
    color: $color4;
    font-family: $font;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 30px;
    padding-top: 30px;
    background-color: $color1;
  }
  
  .compraDeTickets__subtitle {
    color: $color7;
    font-family: $font;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 30px;
    background-color: $color1;
  }
  
  .compraDeTickets__contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    padding: 30px;
  }
  
  .estadio__contenedor {
    width: 35%;
    height: 70%;
    background-color: $colorAuxiliar10;
    border: 4px solid $color5;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    font-family: $font;
  }

  .stage {
    width: 50%;
    height: 10%;
    background-color: $color1;
    color: $color5;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
  }

  .seccion1 {
    width: 80%;
    height: 30%;
    border: 3px solid $color5;
    background-color: $color4;
    color: $color1;
    border-radius: 10%;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
  }
  
  .seccion1:hover {
    background-color: $colorAuxiliar11;
    border: 3px solid $color4;
    color: $color1;
    cursor: pointer;
  }
  
  .seccion2 {
    width: 90%;
    height: 40%;
    border: 3px solid $color5;
    background-color: $color7;
    color: $color1;
    border-radius: 20%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
  }
  
  .seccion2:hover {
    background-color: $colorAuxiliar12;
    border: 3px solid $color7;
    color: $color1;
    cursor: pointer;
  }
  
  .infoTickets {
    width: 35%;
    height: 50%;
  }
  
  .infoTickets__subtitle {
    background-color: $color1;
    text-align: center;
    color: $color5;
    text-transform: uppercase;
  }
  
  .clickHereToContinue {
    width: 100%;
    height: 50px;
    background-color: $color4;
    align-items: center;
  }
  
  .clickHereToContinue p {
    font-family: $font;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  .clickHereToContinue a {
    text-decoration: none;
    color: $color1;
  }

  .clickHereToContinue a:hover {
    text-decoration: none;
    color: $colorAuxiliar3;
  }

  .goBack {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: $color7;
    align-items: center;
  }
  
  .goBack p {
    font-family: $font;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  .goBack a {
    text-decoration: none;
    color: $color5;
  }

  .goBack a:hover {
    text-decoration: none;
    color: $colorAuxiliar3;
  }
  

  /*****************  DISEÑO DEL TICKET  *******************/
  .box {
    margin: 0px auto;
    margin-top: 60px;
    margin-bottom: 50px;
    background: $colorAuxiliar9 url(https://subtlepatterns.com/patterns/lightpaperfibers.png);
    color: $colorAuxiliar8;
    text-transform: uppercase;
    padding: 8px;
    width: 100%;
    font-weight: bold;
    text-shadow: 0px 1px 0px $color5;
    font-family: "arvo";
    font-size: 11px;
    border-left: 1px dashed $colorAuxiliar7;
  
  }
  
  .inner {
    border: 2px dashed $colorAuxiliar7;
    min-height: 100px;
    padding: 8px;
  
  }
  
  .inner h1 {
    color: $color1;
    padding: 5px 0px;
    margin: 0px;
    font-size: 18px;
    font-family: "arvo";
    border-bottom: 1px solid $colorAuxiliar6;
    text-align: center;
  }
  
  .info {
    width: 100%;
    margin-top: 5px;
  }
  
  .info .wp {
    float: left;
    padding: 5px;
    width: 83px;
    text-align: center;
  }
  
  .info .wp h2 {
    margin: 8px;
    font-size: 14px;
  }
  
  .totalTicket {
    border-top: 1px solid $colorAuxiliar6;
  }
  
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .totalTicket h2 {
    padding-left: 115px;
    margin: 10px 0px;
    font-size: 15px;
    float: right;
  }
  
  .totalTicket p {
    float: right;
    margin: 0px;
    margin-right: 15px;
  }
