/*******  PALETA PRINCIPAL DE COLORES *******/
$color1: black;
$color2: rgb(29, 29, 29);
$color3: #e2e2e2;
$color4: rgb(255, 217, 0);
$color5: white;
$color7: #ff20a8;
$color8: rgb(202, 202, 202);


/******* COLORES AUXILIARES PARA ALGUNOS DETALLES  *******/
$colorAuxiliar1: rgb(242, 255, 58);
$colorAuxiliar2: rgba(255, 255, 255, 0.7);
$colorAuxiliar3: rgb(160, 0, 0);
$colorAuxiliar4: rgb(87, 87, 87);
$colorAuxiliar5: red;
$colorAuxiliar6: rgba(51, 51, 51, 0.3);
$colorAuxiliar7: rgba(51, 51, 51, 0.5);
$colorAuxiliar8: #333;
$colorAuxiliar9: rgb(255, 253, 221);
$colorAuxiliar10: #507964;
$colorAuxiliar11: rgb(255, 249, 212);
$colorAuxiliar12: #ffcfec;

$font: "Signika", sans serif;
$font2: "Dancing Script", cursive;
