$color1: black;
$color2: rgb(29, 29, 29);
$color3: #e2e2e2;
$color4: rgb(255, 217, 0);
$color5: white;
$color7: #ff20a8;
$color8: rgb(202, 202, 202);

$font: "Signika", sans serif;
$font2: "Dancing Script", cursive;
