* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black !important;
}

/******************* NAV  *******************/
.header {
  background-color: #1d1d1d;
  font-family: "Signika", sans serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 3;
  width: 100%;
}

#nav1 li a {
  color: #e2e2e2;
  list-style-type: none;
  text-decoration: none;
  padding: 20px;
  transition: transform 0.5s ease;
}

#nav1 a:hover {
  color: #ffd900;
  transform: translateX(0.5em);
}

#nav1 ul li {
  display: inline-block;
}

.navbar__logo {
  width: 40px;
}

/****************** index: BANNER *******************/
h1,
.the-brothers__title {
  color: #ffd900;
  font-family: "Signika", sans serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 100px;
}

.subtitulo {
  font-family: "Dancing Script", cursive;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  padding-top: 100px;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  animation-name: subtitulo;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes subtitulo {
  0% {
    color: #fff;
  }
  50% {
    color: #fff2a9;
  }
  100% {
    color: #fff;
  }
}
.jonas-brothers__principal {
  background-color: black;
  background-image: url(img/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.jonas-brothers__principal h1,
.jonas-brothers__principal .the-brothers__title {
  color: #ffd900;
  font-family: "Signika", sans serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000000;
  letter-spacing: 5px;
  padding-top: 100px;
}

/*******************  index: CARRUSEL  *******************/
.carrusel {
  padding: 50px;
  background-color: #ffd900;
  width: 100%;
  height: 100vh;
}

.carousel img {
  object-fit: cover;
  object-position: center;
  height: auto;
}

/*******************  index: SECCION THE-BROTHERS  *******************/
.the-brothers {
  padding: 50px 25px;
}

.the-brothers__title--name {
  font-family: "Signika", sans serif;
  font-size: 27px;
}

.the-brothers__description {
  color: #e2e2e2;
  padding: 0 10px 0 10px;
}

.the-brothers__foto {
  transition: transform 0.5s ease;
  border-radius: 50%;
}

.the-brothers__foto:hover {
  transform: scale(1.2);
}

/*******************  index: SECCION LATEST NEWS  *******************/
.latest-news {
  background-color: #ffd900;
  width: 100%;
  padding: 0 50px 25px 50px;
}

.latest-news__title {
  color: black;
  font-family: "Signika", sans serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.news {
  width: 100%;
  max-width: 98rem;
  display: flex;
  border-radius: 16px;
  background-color: black;
  margin-bottom: 50px;
}

.news__img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  padding: 50px;
  position: relative;
}

.news__img img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  display: block;
}

.news__title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffd900;
}

.news__info {
  padding-right: 35px;
}

.news__text {
  font-size: 18px;
  color: white;
  text-align: justify;
}

.news__cta {
  display: inline-block;
  padding: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  background-color: #ff20a8;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.5s ease;
}

.news__cta a {
  text-decoration: none;
  color: white;
}

.news__cta a:hover {
  text-decoration: none;
  color: white;
}

.news__cta:hover {
  transform: scale(1.1);
}

/*******************  index: PROPAGANDA DEL TOUR  *******************/
.tour__propaganda {
  background-image: url(img/confetti1.svg);
  background-repeat: repeat;
  padding: 100px 0 100px 0;
}

.buy-tickets {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.buy-tickets .btn {
  background-color: #ff20a8;
  border: none;
  width: 30%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Signika", sans serif;
  letter-spacing: 3px;
  transition: transform 0.5s ease;
  padding: 20px;
}

.buy-tickets .btn:hover {
  border: none;
  transform: scale(1.2);
  background-color: #ffd900;
}

.buy-tickets__link {
  color: white;
}

.buy-tickets__link:hover {
  color: black;
  text-decoration: none;
}

/* USO DE MAPAS */
.tour__dates-texto-animado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 80px 0;
}

.btn--h2 {
  font-size: 40px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

.btn--h3 {
  font-size: 30px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

.btn--h4 {
  font-size: 20px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

/*USO DEL EACH */
.contenedor__imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  justify-content: space-around;
}

.nickjonas-imagen,
.joejonas-imagen,
.kevinjonas-imagen {
  height: 200px;
  width: 400px;
  padding: 10px;
  border-radius: 16px;
}

.nickjonas-imagen {
  background-image: url("img/nickjonas.jpg");
  background-size: cover;
  background-position: center;
}

.joejonas-imagen {
  background-image: url("img/joejonas.jpg");
  background-size: cover;
  background-position: center;
}

.kevinjonas-imagen {
  background-image: url("img/kevinjonas.jpg");
  background-size: cover;
  background-position: center;
}

/*******************  TOUR DATES  *******************/
/* USO DE MAPAS */
.tour-dates__texto-animado {
  background-color: black;
  padding: 10px;
  background-image: url(img/tourdates.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.tour-dates__texto-animado--contenedor {
  margin-top: 35px;
}

.tour__dates-texto-animado--title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn--h2 {
  font-size: 40px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.btn--h3 {
  font-size: 35px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.btn--h4 {
  font-size: 30px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* FIN DE USO DE MAPAS */
.tour__contenedor {
  background-color: black;
}

.tour-dates__title {
  color: #ffd900;
  font-family: "Signika", sans serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 30px;
}

.tour-dates__subtitle {
  color: #ff20a8;
  font-family: "Signika", sans serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#table {
  width: 80%;
  margin: 50px auto;
  background-color: #1d1d1d;
  text-transform: uppercase;
  font-size: 20px;
}

.table__titulos {
  color: #ffd900;
  text-transform: uppercase;
}

.table td {
  font-weight: bold;
}

.table__titulos--tickets {
  text-align: left;
}

.table__button {
  text-align: left;
}

.table .btn {
  background-color: #ff20a8;
  color: white;
  border: none;
  height: 28px;
  line-height: 14px;
  font-weight: bold;
  transition: transform 0.5s ease;
}

.table .btn:hover {
  background-color: #ffd900;
  color: black;
  transform: scale(1.1);
}

.table tr:hover {
  color: #ffd900;
}

/*******************  GALLERY  *******************/
.gallery__title {
  margin-bottom: 50px;
}

.gallery__contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 8px;
  grid-auto-flow: dense;
  min-height: 100vh;
  margin: 20px;
  margin-bottom: 100px;
}

.gallery__contenedor :nth-child(1),
.gallery__contenedor :nth-child(3) {
  grid-row: span 2;
}

.gallery__contenedor :nth-child(2) {
  grid-column: span 2;
}

.gallery__contenedor :nth-child(8) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffd900;
}

.gallery__item--image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery__item--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.gallery__item--image:hover img {
  transition: 0.4s ease-in-out;
  transform: scale(1.2);
}

/*******************  VIDEOS *******************/
#videos {
  font-family: "Signika", sans serif;
}

.videos__title {
  background-color: black;
}

.videos__contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.videos__contenedor2 {
  background-color: #ff20a8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.video__contenedor--caja {
  background-color: #ffd900;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.video__contenedor--caja2 {
  background-color: #ff20a8;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.video__individual {
  width: 45%;
  height: auto;
  margin: 30px;
}

.video__individual2 {
  width: 29%;
  height: auto;
  margin: 10px;
}

.video__individual--title {
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 20px;
}

.video__individual--title2 {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 20px;
}

.video__individual--title3 {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}

.videos__contenedor iframe {
  width: 100%;
  height: 350px;
  justify-content: center;
}

.videos__contenedor2 iframe {
  width: 100%;
  height: 250px;
  justify-content: center;
}

/*******************  DISCOGRAPHY  *******************/
.discography,
.tour-dates,
.gallery {
  font-family: "Signika", sans serif;
}

.discography__title,
.gallery__title,
.videos__title {
  color: #ffd900;
  font-family: "Signika", sans serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 15px 0 20px 0;
  margin-bottom: 30px;
}

.discography__subtitle {
  color: white;
  font-family: "Signika", sans serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

.disc__contenedor {
  width: 100%;
  height: 60vh;
  background-color: #ffd900;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.disc__contenedor img {
  border-radius: 15%;
  width: 40%;
  height: auto;
  padding: 50px;
  transition: transform 0.6s ease;
}
.disc__contenedor img:hover {
  transform: rotate(360deg);
}

.album__info {
  margin: auto 0;
  width: 50%;
}
.album__info h3 {
  color: black;
  font-size: 35px;
}
.album__info p {
  font-size: 20px;
  color: black;
  text-align: justify;
}

.album__info--icons a {
  font-size: 28px;
  color: #ff20a8;
  text-decoration: none;
  letter-spacing: 15px;
}

.album__info--icons a:hover {
  color: white;
  text-decoration: none;
}

.fab {
  transition: transform 0.5s ease;
}

.fab:hover {
  transform: scale(1.2);
}

.disc__contenedor2 {
  background-color: black;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.disc__contenedor2 img {
  border-radius: 15%;
  width: 40%;
  height: auto;
  padding: 50px;
  transition: transform 0.6s ease;
}
.disc__contenedor2 img:hover {
  transform: rotate(360deg);
}

.album__info2 {
  margin: auto 0;
  width: 50%;
}
.album__info2 h3 {
  color: #ffd900;
  font-size: 35px;
}
.album__info2 p {
  font-size: 20px;
  color: #ffd900;
  text-align: justify;
}

/*******************  FOOTER  *******************/
.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #1d1d1d;
  font-family: "Signika", sans serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__contenedor {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__contenedor a {
  color: white;
}

.footer__newsletter {
  width: 45%;
  transition: all 0.4s ease;
}

.footer__newsletter--title {
  font-size: 22px;
  font-weight: 600;
  color: #ffd900;
  margin-bottom: 16px;
}

.footer__newsletter input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #ffd900;
  background: black;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #1d1d1d;
}

.footer__newsletter input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: black;
  background: #ffd900;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #ffd900;
  transition: all 0.3s ease-in-out;
}

.footer__newsletter input[type="submit"]:hover {
  background: none;
  color: #ffd900;
}

.footer__redes-sociales {
  width: 35%;
  transition: all 0.4s ease;
}

.footer__redes-sociales--title {
  font-size: 22px;
  font-weight: 600;
  color: #ffd900;
  margin-bottom: 16px;
}

.footer__redes-sociales--icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #ffd900;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.footer__redes-sociales--icons a:hover {
  border-color: #ffd900;
  transform: scale(1.3);
}

.footer__copyright {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 30px;
  padding: 0 40px 5px 0;
}

.footer__copyright a {
  color: #ffd900;
}

.footer a {
  transition: all 0.3s ease;
}

.footer a:hover {
  color: #ffd900;
}

@media only screen and (min-width: 1500px) {
  .news__title {
    font-size: 26px;
  }

  .news__text {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1281px) {
  .carrusel {
    height: auto;
  }

  .news {
    margin: 0 auto 50px auto;
  }

  .disc__contenedor,
  .disc__contenedor2 {
    height: auto;
  }

  .album__info h3,
  .album__info2 h3 {
    font-size: 45px;
  }
  .album__info p,
  .album__info2 p {
    font-size: 35px;
  }

  .album__info--icons a {
    font-size: 38px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .carrusel {
    height: auto;
  }

  .contenedor__imagenes {
    justify-content: center;
    align-items: center;
  }

  .joejonas-imagen,
  .nickjonas-imagen,
  .kevinjonas-imagen {
    height: 20% px;
    width: 28%;
    padding: 10px;
    margin: 10px;
  }

  .video__individual {
    width: 45%;
    margin: 10px;
  }

  .video__individual--title {
    padding: 10px;
  }

  .disc__contenedor,
  .disc__contenedor2 {
    height: auto;
  }

  .album__info,
  .album__info2 {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .carrusel {
    width: 100%;
    height: auto;
  }

  .news {
    padding: 2rem;
    flex-direction: column;
  }

  .news__info {
    padding-right: 0;
  }

  .news__img {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .buy-tickets .btn {
    width: 60%;
  }

  .contenedor__imagenes {
    justify-content: center;
    align-items: center;
  }

  .joejonas-imagen,
  .nickjonas-imagen,
  .kevinjonas-imagen {
    height: 20% px;
    width: 28%;
    padding: 10px;
    margin: 10px;
  }

  .video__individual {
    width: 100%;
    margin: 20px;
  }

  .video__individual--title {
    padding: 20px;
  }

  .disc__contenedor,
  .disc__contenedor2 {
    height: auto;
  }

  .album__info,
  .album__info2 {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 560px) and (max-width: 768px) {
  .jonas-brothers__principal {
    height: 70vh;
  }

  .jonas-brothers__principal h1,
  .jonas-brothers__principal .the-brothers__title {
    font-size: 30px;
    padding-top: 80px;
  }

  .subtitulo {
    font-size: 20px;
    padding-top: 10px;
  }

  .carrusel {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .news {
    padding: 2rem;
    flex-direction: column;
  }

  .news__info {
    padding-right: 0;
  }

  .news__img {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .buy-tickets .btn {
    width: 80%;
  }

  .contenedor__imagenes {
    display: none;
  }

  #table {
    width: 100%;
    font-size: 15px;
  }

  .gallery__contenedor {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__contenedor--individual:nth-child(8) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .video__individual {
    width: 100%;
    margin: 20px;
  }

  .video__individual2 {
    width: 100%;
    margin: 10px;
  }

  .video__individual--title {
    padding: 10px;
  }

  .disc__contenedor,
  .disc__contenedor2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10px;
  }
  .disc__contenedor img,
  .disc__contenedor2 img {
    width: 100%;
  }

  .album__info,
  .album__info2 {
    padding: 0 15px;
    width: 100%;
  }

  .footer {
    position: relative;
  }

  .footer__newsletter,
  .footer__redes-sociales {
    width: 100%;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 280px) and (max-width: 560px) {
  .jonas-brothers__principal {
    height: 50vh;
  }

  .jonas-brothers__principal h1,
  .jonas-brothers__principal .the-brothers__title {
    font-size: 30px;
    padding-top: 80px;
  }

  .subtitulo {
    font-size: 20px;
    padding-top: 10px;
  }

  .carrusel {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .news {
    padding: 2rem;
    flex-direction: column;
  }

  .news__img {
    display: none;
  }

  .news__info {
    margin-top: -100px;
    padding-right: 0;
  }

  .news__text {
    text-align: center;
  }

  .buy-tickets .btn {
    width: 100%;
  }

  .contenedor__imagenes {
    display: none;
  }

  .tour-dates__texto-animado--title {
    align-items: center;
  }

  .btn--h2 {
    font-size: 32px;
  }

  .btn--h3 {
    font-size: 22px;
  }

  .btn--h4 {
    font-size: 17px;
  }

  #table {
    width: 100%;
    margin: 0;
    font-size: 10px;
  }

  .table .btn {
    font-weight: none;
    font-size: 10px;
  }

  .gallery__contenedor {
    grid-template-columns: 1fr;
  }

  .gallery__contenedor--individual:nth-child(n + 1) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .video__individual {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .video__individual2 {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .video__individual--title {
    padding: 10px;
  }

  .disc__contenedor,
  .disc__contenedor2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10px;
  }
  .disc__contenedor img,
  .disc__contenedor2 img {
    width: 100%;
  }

  .album__info,
  .album__info2 {
    padding: 0 15px;
    width: 100%;
  }

  .footer {
    position: relative;
  }

  .footer__newsletter,
  .footer__redes-sociales {
    width: 100%;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=estilos.css.map */
