@charset "UTF-8";
/*******  PALETA PRINCIPAL DE COLORES *******/
/******* COLORES AUXILIARES PARA ALGUNOS DETALLES  *******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black !important;
}

/******************* NAV  *******************/
.header {
  background-color: #1d1d1d;
  font-family: "Signika", sans serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 10;
  width: 100%;
}

#nav1 li a {
  color: #e2e2e2;
  list-style-type: none;
  text-decoration: none;
  padding: 20px;
  transition: transform 0.5s ease;
}

#nav1 a:hover {
  color: #ffd900;
  transform: translateX(0.5em);
}

#nav1 ul li {
  display: inline-block;
}

.navbar__logo {
  width: 40px;
}

/****************** index: BANNER *******************/
h1, .the-brothers__title {
  color: #ffd900;
  font-family: "Signika", sans serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 100px;
}

.subtitulo {
  font-family: "Dancing Script", cursive;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  padding-top: 100px;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  animation-name: subtitulo;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes subtitulo {
  0% {
    color: #fff;
  }
  50% {
    color: #fff2a9;
  }
  100% {
    color: #fff;
  }
}
.jonas-brothers__principal {
  background-color: black;
  background-image: url(img/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.jonas-brothers__principal h1, .jonas-brothers__principal .the-brothers__title {
  color: #ffd900;
  font-family: "Signika", sans serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000000;
  letter-spacing: 5px;
  padding-top: 100px;
}

/*******************  index: SECCION THE-BROTHERS  *******************/
.the-brothers {
  padding: 50px 25px;
}

.the-brothers__title--name {
  font-family: "Signika", sans serif;
  font-size: 27px;
}

.the-brothers__description {
  color: #e2e2e2;
  padding: 0 10px 0 10px;
}

.the-brothers__foto {
  transition: transform 0.5s ease;
  border-radius: 50%;
}

.the-brothers__foto:hover {
  transform: scale(1.2);
}

/*******************  index: PROPAGANDA DEL TOUR  *******************/
.tour__propaganda {
  background-image: url(img/confetti1.svg);
  background-repeat: repeat;
  padding: 100px 0 100px 0;
}

.buy-tickets {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.buy-tickets .btn {
  background-color: #ff20a8;
  border: none;
  width: 30%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Signika", sans serif;
  letter-spacing: 3px;
  transition: transform 0.5s ease;
  padding: 20px;
}

.buy-tickets .btn:hover {
  border: none;
  transform: scale(1.2);
  background-color: #ffd900;
}

.buy-tickets__link {
  color: white;
}

.buy-tickets__link:hover {
  color: black;
  text-decoration: none;
}

/* USO DE MAPAS */
.tour__dates-texto-animado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 80px 0;
}

.btn--h2 {
  font-size: 40px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

.btn--h3 {
  font-size: 30px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

.btn--h4 {
  font-size: 20px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

/*USO DEL EACH */
.contenedor__imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  justify-content: space-around;
}

.nickjonas-imagen,
.joejonas-imagen,
.kevinjonas-imagen {
  height: 200px;
  width: 400px;
  padding: 10px;
  border-radius: 16px;
}

.nickjonas-imagen {
  background-image: url("img/nickjonas.jpg");
  background-size: cover;
  background-position: center;
}

.joejonas-imagen {
  background-image: url("img/joejonas.jpg");
  background-size: cover;
  background-position: center;
}

.kevinjonas-imagen {
  background-image: url("img/kevinjonas.jpg");
  background-size: cover;
  background-position: center;
}

/*******************  TOUR DATES  *******************/
/* USO DE MAPAS */
.tour-dates__texto-animado {
  background-color: black;
  padding: 10px;
  background-image: url(img/tourdates.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.tour-dates__texto-animado--contenedor {
  margin-top: 35px;
}

.tour__dates-texto-animado--title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn--h2 {
  font-size: 40px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.btn--h3 {
  font-size: 35px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.btn--h4 {
  font-size: 30px;
  font-family: "Signika", sans serif;
  color: #ffd900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* FIN DE USO DE MAPAS */
.tour__contenedor {
  background-color: black;
}

.tour-dates__title {
  color: #ffd900;
  font-family: "Signika", sans serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 30px;
}

.tour-dates__subtitle {
  color: #ff20a8;
  font-family: "Signika", sans serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#table {
  width: 80%;
  margin: 50px auto;
  background-color: #1d1d1d;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Signika", sans serif;
}

.table__titulos {
  color: #ffd900;
  text-transform: uppercase;
}

.table td {
  font-weight: bold;
}

.table__titulos--tickets {
  text-align: left;
}

.table__button {
  text-align: left;
}

.table .btn {
  background-color: #ff20a8;
  color: white;
  border: none;
  height: 28px;
  line-height: 14px;
  font-weight: bold;
  transition: transform 0.5s ease;
}
.table .btn a {
  text-decoration: none;
  color: white;
}

.table .btn:hover {
  background-color: #ffd900;
  transform: scale(1.1);
}

.table .btn a:hover {
  color: black;
}

.table tr:hover {
  color: #ffd900;
}

/*******************  DISCOGRAPHY  *******************/
.discography, .compraDeTickets__title, .tour-dates {
  font-family: "Signika", sans serif;
}

.discography__title, .payment__title, .store__title {
  color: #ffd900;
  font-family: "Signika", sans serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 15px 0 20px 0;
  margin-bottom: 30px;
}

.discography__subtitle {
  color: white;
  font-family: "Signika", sans serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

.disc__contenedor {
  width: 100%;
  height: 60vh;
  background-color: #ffd900;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.disc__contenedor img {
  border-radius: 15%;
  width: 40%;
  height: 40%;
  padding: 50px;
  transition: transform 0.6s ease;
}
.disc__contenedor img:hover {
  transform: rotate(360deg);
}

.album__info {
  margin: auto 0;
  width: 50%;
}
.album__info h3 {
  color: black;
  font-size: 35px;
}
.album__info p {
  font-size: 20px;
  color: black;
  text-align: justify;
}

.album__info--icons a {
  font-size: 28px;
  color: #ff20a8;
  text-decoration: none;
  letter-spacing: 15px;
}

.album__info--icons a:hover {
  color: white;
  text-decoration: none;
}

.fab {
  transition: transform 0.5s ease;
}

.fab:hover {
  transform: scale(1.2);
}

.disc__contenedor2 {
  background-color: black;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.disc__contenedor2 img {
  border-radius: 15%;
  width: 40%;
  height: 40%;
  padding: 50px;
  transition: transform 0.6s ease;
}
.disc__contenedor2 img:hover {
  transform: rotate(360deg);
}

.album__info2 {
  margin: auto 0;
  width: 50%;
}
.album__info2 h3 {
  color: #ffd900;
  font-size: 35px;
}
.album__info2 p {
  font-size: 20px;
  color: #ffd900;
  text-align: justify;
}

.btn__tracklist1, .btn__tracklist2, .btn__tracklist3, .btn__tracklist4, .btn__tracklist5 {
  display: inline-block;
  padding: 6px;
  margin-top: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  background-color: #ff20a8;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.5s ease;
  cursor: pointer;
}

#table__tracklist {
  cursor: pointer;
}

.table__tracklist--container {
  margin-top: 10px;
  color: white;
  background-color: #ff20a8;
}

.table__tracklist--duration, .duration {
  text-align: right;
}

.table__tracklist--song, .song {
  text-align: center;
}

.store {
  font-family: "Signika", sans serif;
}

.store__contenedor {
  max-width: 1350px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-list {
  display: flex;
  max-width: 1350px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products {
  width: 70%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  margin: 10px;
}

.card-img-top {
  background-color: #fffddd;
}

.card-body {
  background-color: #ffd900;
  color: black;
  text-align: center;
  font-size: 20px;
}

.card-text {
  font-size: 24px;
}

.card .btn-primary {
  background-color: #ff20a8;
  border: none;
  width: 70%;
  text-transform: uppercase;
}

.card .btn-primary:hover {
  background-color: white;
  color: black;
}

.cart {
  height: 100%;
  width: 30%;
  position: relative;
  background-color: #ff20a8;
}

.shopping-bag {
  padding: 2px 2px;
}

.shopping-bag a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.shopping-bag a img {
  width: 32px;
  height: 32px;
}

.shopping-bag .total-items-in-cart {
  margin-left: 10px;
  padding: 5px;
  background-color: #f2ff3a;
  border-radius: 5px;
  color: black;
}

.textoCart {
  padding: 0 10px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.products img {
  width: 250px;
}

.cart-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
}

/* cart items */
.cart-items {
  overflow-y: auto;
  overflow-x: hidden;
}

/* cart item */
.cart-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.cart-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* item info */
.cart-item .item-info {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 10px 10px 0;
  padding: 10px;
}

.cart-item .item-info:hover {
  background-color: #a00000;
  cursor: pointer;
}

.cart-item .item-info img {
  width: 80px;
  filter: drop-shadow(2px 2px 2px #575757);
}

/* unit price */
.cart-item .unit-price {
  flex: 1;
  font-size: 1.2rem;
}

/* units */
.cart-item .units {
  flex: 1;
}

.cart-item .units .number {
  margin: 0 10px;
  font-size: 1.2rem;
}

.cart-item .units .btn {
  width: 20px;
  height: 20px;
  background-color: #f2ff3a;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

/* cart footer */
.cart-footer {
  width: 100%;
  bottom: 0;
  left: 0;
}

.cart-footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 1.3rem;
}

.cart-footer .subtotal {
  background-color: white;
}

.cart-footer .checkout {
  background-color: #f2ff3a;
  cursor: pointer;
}

.cart-footer .checkout a {
  text-decoration: none;
  color: black;
}

.cart-footer .checkout a:hover {
  text-decoration: none;
  color: #ff20a8;
}

/* compra html */
/* FINALIZAR COMPRA */
.payment {
  height: auto;
  font-family: "Signika", sans serif;
  background-image: url(img/confetti1.svg);
}

.window {
  max-width: 1350px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.h2card {
  padding: 0.5em;
  text-align: center;
  font-size: 25px !important;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}

.order-info {
  width: 30%;
  background-color: #ffd900;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.order-info-content {
  table-layout: fixed;
  border: 3px solid white;
  width: 100%;
  padding: 10px;
}

.productosFinal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  font-size: 20px;
}

.productosFinal-desc2 {
  text-align: end;
}

.item-price {
  text-align: end;
}

.total {
  text-align: right;
  border-top: 1px solid black;
  margin-top: 25px;
  font-size: 20px;
  text-align: end;
  justify-content: end;
  align-items: flex-end;
}

.total p {
  font-size: 20px !important;
}

.credit-info {
  height: 100%;
  width: 50%;
  position: relative;
  background-color: black;
  color: white;
  padding: 15px;
  border: 2px solid white;
  border-radius: 25px;
}

/* credit card form */
.credit-info label {
  width: 100%;
  margin-bottom: 10px;
}

.credit-info {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}

.credit-info .form-group {
  float: left;
  margin-bottom: 15px;
}

.credit-info .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}

.credit-info .owner {
  width: 63%;
  margin-right: 10px;
}

.credit-info .CVV {
  width: 35%;
}

.credit-info #card-number-field {
  width: 100%;
}

.credit-info #expiration-date {
  width: 49%;
}

.credit-info #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}

.credit-info #pay-now {
  width: 100%;
  margin-top: 25px;
}

.credit-info .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  border: none;
  background-color: #ff20a8;
  color: white;
}

#btn__credit-card {
  width: 100%;
  margin-top: 3px;
  font-size: 15px;
  color: white;
  background-color: red;
  border: none;
}

.credit-info select {
  padding: 10px;
  margin-right: 15px;
}

.transparent {
  opacity: 0.2;
}

/*******************  FOOTER  *******************/
.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #1d1d1d;
  font-family: "Signika", sans serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__contenedor {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__contenedor a {
  color: white;
}

.footer__newsletter {
  width: 45%;
  transition: all 0.4s ease;
}

.footer__newsletter--title {
  font-size: 22px;
  font-weight: 600;
  color: #ffd900;
  margin-bottom: 16px;
}

.footer__newsletter input[type=text] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #ffd900;
  background: black;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #1d1d1d;
}

.footer__newsletter input[type=submit] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: black;
  background: #ffd900;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #ffd900;
  transition: all 0.3s ease-in-out;
}

.footer__newsletter input[type=submit]:hover {
  background: none;
  color: #ffd900;
}

.sent {
  font-size: 15px;
  color: #ffd900;
  text-align: center;
  margin-top: 10px;
}

.show {
  color: #ffd900;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}

.footer__redes-sociales {
  width: 35%;
  transition: all 0.4s ease;
}

.footer__redes-sociales--title {
  font-size: 22px;
  font-weight: 600;
  color: #ffd900;
  margin-bottom: 16px;
}

.footer__redes-sociales--icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #ffd900;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.footer__redes-sociales--icons a:hover {
  border-color: #ffd900;
  transform: scale(1.3);
}

.footer__copyright {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 30px;
  padding: 0 40px 5px 0;
}

.footer__copyright a {
  color: #ffd900;
}

.footer a {
  transition: all 0.3s ease;
}

.footer a:hover {
  color: #ffd900;
}

.footer__author {
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: #cacaca;
  margin-top: 10px;
  padding: 0 20px 5px 0;
}

.footer__author a {
  color: white;
  font-size: 10px;
}

/* body {
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
  } */
/*******************  TICKETS *******************/
.tickets {
  background-image: url(img/confetti1.svg);
  background-repeat: repeat;
  font-family: "Signika", sans serif;
}

.compraDeTickets__title {
  color: #ffd900;
  font-family: "Signika", sans serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 30px;
  padding-top: 30px;
  background-color: black;
}

.compraDeTickets__subtitle {
  color: #ff20a8;
  font-family: "Signika", sans serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 30px;
  background-color: black;
}

.compraDeTickets__contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  padding: 30px;
}

.estadio__contenedor {
  width: 35%;
  height: 70%;
  background-color: #507964;
  border: 4px solid white;
  border-radius: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  font-family: "Signika", sans serif;
}

.stage {
  width: 50%;
  height: 10%;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.seccion1 {
  width: 80%;
  height: 30%;
  border: 3px solid white;
  background-color: #ffd900;
  color: black;
  border-radius: 10%;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
}

.seccion1:hover {
  background-color: #fff9d4;
  border: 3px solid #ffd900;
  color: black;
  cursor: pointer;
}

.seccion2 {
  width: 90%;
  height: 40%;
  border: 3px solid white;
  background-color: #ff20a8;
  color: black;
  border-radius: 20%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
}

.seccion2:hover {
  background-color: #ffcfec;
  border: 3px solid #ff20a8;
  color: black;
  cursor: pointer;
}

.infoTickets {
  width: 35%;
  height: 50%;
}

.infoTickets__subtitle {
  background-color: black;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.clickHereToContinue {
  width: 100%;
  height: 50px;
  background-color: #ffd900;
  align-items: center;
}

.clickHereToContinue p {
  font-family: "Signika", sans serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.clickHereToContinue a {
  text-decoration: none;
  color: black;
}

.clickHereToContinue a:hover {
  text-decoration: none;
  color: #a00000;
}

.goBack {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background-color: #ff20a8;
  align-items: center;
}

.goBack p {
  font-family: "Signika", sans serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.goBack a {
  text-decoration: none;
  color: white;
}

.goBack a:hover {
  text-decoration: none;
  color: #a00000;
}

/*****************  DISEÑO DEL TICKET  *******************/
.box {
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 50px;
  background: #fffddd url(https://subtlepatterns.com/patterns/lightpaperfibers.png);
  color: #333;
  text-transform: uppercase;
  padding: 8px;
  width: 100%;
  font-weight: bold;
  text-shadow: 0px 1px 0px white;
  font-family: "arvo";
  font-size: 11px;
  border-left: 1px dashed rgba(51, 51, 51, 0.5);
}

.inner {
  border: 2px dashed rgba(51, 51, 51, 0.5);
  min-height: 100px;
  padding: 8px;
}

.inner h1, .inner .the-brothers__title {
  color: black;
  padding: 5px 0px;
  margin: 0px;
  font-size: 18px;
  font-family: "arvo";
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  text-align: center;
}

.info {
  width: 100%;
  margin-top: 5px;
}

.info .wp {
  float: left;
  padding: 5px;
  width: 83px;
  text-align: center;
}

.info .wp h2 {
  margin: 8px;
  font-size: 14px;
}

.totalTicket {
  border-top: 1px solid rgba(51, 51, 51, 0.3);
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.totalTicket h2 {
  padding-left: 115px;
  margin: 10px 0px;
  font-size: 15px;
  float: right;
}

.totalTicket p {
  float: right;
  margin: 0px;
  margin-right: 15px;
}

@media only screen and (min-width: 1500px) {
  .news__title {
    font-size: 26px;
  }

  .news__text {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1281px) {
  .carrusel {
    height: auto;
  }

  .news {
    margin: 0 auto 50px auto;
  }

  .disc__contenedor,
.disc__contenedor2 {
    height: auto;
  }

  .album__info h3,
.album__info2 h3 {
    font-size: 45px;
  }
  .album__info p,
.album__info2 p {
    font-size: 35px;
  }

  .album__info--icons a {
    font-size: 38px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .carrusel {
    height: auto;
  }

  .contenedor__imagenes {
    justify-content: center;
    align-items: center;
  }

  .joejonas-imagen,
.nickjonas-imagen,
.kevinjonas-imagen {
    height: 20% px;
    width: 28%;
    padding: 10px;
    margin: 10px;
  }

  .video__individual {
    width: 45%;
    margin: 10px;
  }

  .video__individual--title {
    padding: 10px;
  }

  .disc__contenedor,
.disc__contenedor2 {
    height: auto;
  }

  .album__info,
.album__info2 {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .carrusel {
    width: 100%;
    height: auto;
  }

  .news {
    padding: 2rem;
    flex-direction: column;
  }

  .news__info {
    padding-right: 0;
  }

  .news__img {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .buy-tickets .btn {
    width: 60%;
  }

  .contenedor__imagenes {
    justify-content: center;
    align-items: center;
  }

  .joejonas-imagen,
.nickjonas-imagen,
.kevinjonas-imagen {
    height: 20% px;
    width: 28%;
    padding: 10px;
    margin: 10px;
  }

  .video__individual {
    width: 100%;
    margin: 20px;
  }

  .video__individual--title {
    padding: 20px;
  }

  .disc__contenedor,
.disc__contenedor2 {
    height: auto;
  }

  .album__info,
.album__info2 {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 560px) and (max-width: 768px) {
  .jonas-brothers__principal {
    height: 70vh;
  }

  .jonas-brothers__principal h1, .jonas-brothers__principal .the-brothers__title {
    font-size: 30px;
    padding-top: 80px;
  }

  .subtitulo {
    font-size: 20px;
    padding-top: 10px;
  }

  .carrusel {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .news {
    padding: 2rem;
    flex-direction: column;
  }

  .news__info {
    padding-right: 0;
  }

  .news__img {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .buy-tickets .btn {
    width: 80%;
  }

  .contenedor__imagenes {
    display: none;
  }

  #table {
    width: 100%;
    font-size: 15px;
  }

  .gallery__contenedor {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__contenedor--individual:nth-child(8) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .video__individual {
    width: 100%;
    margin: 20px;
  }

  .video__individual2 {
    width: 100%;
    margin: 10px;
  }

  .video__individual--title {
    padding: 10px;
  }

  .disc__contenedor,
.disc__contenedor2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10px;
  }
  .disc__contenedor img,
.disc__contenedor2 img {
    width: 100%;
  }

  .album__info,
.album__info2 {
    padding: 0 15px;
    width: 100%;
  }

  .footer {
    position: relative;
  }

  .footer__newsletter,
.footer__redes-sociales {
    width: 100%;
    margin-top: 30px;
  }

  .paymentContenedor {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0px;
  }

  .order-info {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .credit-info {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .credit-info .owner,
.credit-info .CVV,
.credit-info #expiration-date,
.credit-info #credit_cards {
    width: 100%;
  }

  .credit-info #credit_cards {
    text-align: left;
  }
}
@media only screen and (min-width: 280px) and (max-width: 560px) {
  .jonas-brothers__principal {
    height: 50vh;
  }

  .jonas-brothers__principal h1, .jonas-brothers__principal .the-brothers__title {
    font-size: 30px;
    padding-top: 80px;
  }

  .subtitulo {
    font-size: 20px;
    padding-top: 10px;
  }

  .carrusel {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .news {
    padding: 2rem;
    flex-direction: column;
  }

  .news__img {
    display: none;
  }

  .news__info {
    margin-top: -100px;
    padding-right: 0;
  }

  .news__text {
    text-align: center;
  }

  .buy-tickets .btn {
    width: 100%;
  }

  .contenedor__imagenes {
    display: none;
  }

  .tour-dates__texto-animado--title {
    align-items: center;
  }

  .btn--h2 {
    font-size: 32px;
  }

  .btn--h3 {
    font-size: 22px;
  }

  .btn--h4 {
    font-size: 17px;
  }

  #table {
    width: 100%;
    margin: 0;
    font-size: 10px;
  }

  .table .btn {
    font-weight: none;
    font-size: 10px;
  }

  .gallery__contenedor {
    grid-template-columns: 1fr;
  }

  .gallery__contenedor--individual:nth-child(n+1) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .video__individual {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .video__individual2 {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .video__individual--title {
    padding: 10px;
  }

  .disc__contenedor,
.disc__contenedor2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10px;
  }
  .disc__contenedor img,
.disc__contenedor2 img {
    width: 100%;
  }

  .album__info,
.album__info2 {
    padding: 0 15px;
    width: 100%;
  }

  .footer {
    position: relative;
  }

  .footer__newsletter,
.footer__redes-sociales {
    width: 100%;
    margin-top: 30px;
  }

  .paymentContenedor {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0px;
  }

  .order-info {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .credit-info {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }
}

/*# sourceMappingURL=estilos.css.map */
